body {
    color: #ffffff;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url("https://download.vikidia.org/vikidia/fr/images/9/99/Noir_%28couleur%29.jpg");
    background-size: cover;
    background-position: center;
}

.custom-button {
    background-color: #ff6600;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
}

/* Effet de survol */
.custom-button:hover {
    background-color: #ff8000;
    transform: scale(1.05);
}

/* Effet de pression */
.custom-button:active {
    background-color: #e65100;
    transform: scale(0.95);
}

/* Couleur violette et bleue */
.custom-button.violet-blue {
    background-color: linear-gradient(135deg, #6c5ce7, #0984e3);
}

.futuristic-button {
    padding: 18px 24px;
    border: none;
    border-radius: 50px;
    background-color: #6c5ce7;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    display: inline-block;
}

.futuristic-button:hover {
    background-color: #4834d4;
    transform: scale(1.05);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.article img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header-logo {
    max-width: 200px;
}

.header img {
    width: 100%;
    height: auto;
}

.sidebar {
    float: left;
    width: 30%;
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    float: right;
    width: 70%;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.content h3 {
    margin-top: 0;
    font-size: 28px;
    color: #333;
}

.article {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}

.article h3 {
    font-size: 24px;
    color: #555;
}

.article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.article p {
    color: #777;
    font-size: 16px;
}

.article-link {
    display: block;
    margin-top: 20px;
    color: #6c5ce7;
    font-size: 16px;
    transition: color 0.2s ease;
}

.article-link:hover {
    text-decoration: underline;
    color: #4834d4;
}

@media screen and (max-width: 768px) {
    .sidebar,
    .content {
        float: none;
        width: 100%;
    }
}
